* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: black; */
  background-image: url(assets/bg.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: rgba(223, 221, 221, 0.63);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        cyan,
        blue,
        violet,
        red,
        orange,
        yellow,
        green,
        cyan,
        blue,
        violet,
        red
      );
      background-size: 200% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: rainbow 15s linear infinite;
    }

    @keyframes rainbow {
      0%   { background-position: 200% 50%; }
      100% { background-position: 0% 50%; }
    }

.buttons {
  margin: 30px 0;
  display: flex;
  gap: 40px;
}

button {
padding: 10px;
font-size: 50px;
border-radius: 10px;
border: none;
cursor: pointer;
transition: 0.2s ease-in-out;
}

button:hover {
  opacity: 0.7;
}

#rock {
  background-color: #7e7c7c;
}

#paper {
  background-color: #A7D8FF;
}

#scissor {
  background-color: #FFD6A5;
}

p {
  font-weight: 400;
  font-size: 2rem;
}

#your-score {
  color: rgb(63, 63, 241);
}

#ia-score {
  color: rgb(52, 180, 52);
}

#empates {
  color: rgb(236, 56, 56);
}

@media (max-width: 431px) {
  body {
    background: url('assets/bg-resp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  button {
    font-size: 30px;
    padding: 8px;
  }
}